@font-face {
  font-family: 'Geometria';
  src: url('assets/fonts/Geometria-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Geometria';
  src: url('assets/fonts/Geometria-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Geometria';
  src: url('assets/fonts/Geometria-Bold.woff') format('woff');
  font-weight: 700;
}